$spinner-width: 50px;
$spinner-distance: 10px;
$border-width: 2px;

$color1: #FF0000;
$color2: #0000FF;
$color3: #00FF00;

$duration1: 1s;
$duration2: 2s;
$duration3: 3s;

$animation-timing: linear;

$sides: "top", "right";
