$spinner-width: 50px;
$spinner-distance: 10px;
$border-width: 2px;

$color1: #1976d2;
$color2: #ffb300;
$color3: #A4A4A4;

$duration1: 1s;
$duration2: 2s;
$duration3: 3s;

$animation-timing: linear;

$sides: "top", "right";
